@charset "UTF-8";

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

thead {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}

.hakurivi {
	color: white;
	background: blue;
	text-align: right;
}

.otsikkorivi {
	color: black;
	background-color: #f2f2f2;
}

.oikealle {
	text-align: right;
}

.keskelle {
	text-align: center;
}

.nappula:focus {
	color: red;
}

#uusiAsiakas, #takaisin {
	color: white;
	cursor: pointer;
}

.poista {
	cursor: pointer;
	text-decoration: underline;
}